@import './variables';

button {
    background-color: $mainAppColor;
}

body, input, button {
    font-size: 14px;
}

.js-gallery-image {
  border-radius: 50%;
  border: 1rem solid $blackColor;

  &--selected {
  border: 1rem solid $selectedImage;
  }
}